PORT=4000
NODE_ENV=development
USER_SERVICE_URL=http://localhost:4002
TASK_SERVICE_URL=http://localhost:4001

OTEL_SERVICE_NAME=api-gateway
OTEL_EXPORTER_OTLP_ENDPOINT=grafana.monitoring.svc.cluster.local:4317
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
OTEL_NODE_ENABLED_INSTRUMENTATIONS=http,express,nestjs-core
NODE_OPTIONS=--require @opentelemetry/auto-instrumentations-node/register